<main>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="page-title">Business cards</h1>
      <p class="page-description">You can see your business cards here.</p>
    </div>
    <button mat-flat-button color="primary" (click)="openAddCardModal()">
      New Business Card
    </button>
  </div>

  <hr />
  <div class="cards">
    <div class="row">
      <!-- *ngFor="let card of cards" -- "cards" comes from .ts file of the same module. It is the chunk of data -->
      <div
        class="col-12 col-md-4 col-lg-3"
        *ngFor="let card of cardService.cards"
      >
        <!--[card]="card" --- [card] keyword will be sent to the below component as this name (card-item.component.ts). And "card" is the data will be sent from the written component or module (cards.component.ts) -->
        <app-card-item [card]="card"></app-card-item>
        <!-- <app-card-item [card]="cardItem"></app-card-item> -->
      </div>
    </div>
  </div>
</main>
