<mat-card class="card-item">
  <mat-card-header (click)="openUpdateCardModule(card)">
    <!-- {{ card.name || "-"}} if card.name is not exist, "-" will be displayed  -->
    <mat-card-title>{{ card.name || "-" }}</mat-card-title>
    <mat-card-subtitle>{{ card.title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ card.phone }}</li>

      <li class="list-group-item">
        <span *ngIf="card.email"> {{ card.email }}</span>
        <small class="text-warning no-content" *ngIf="!card.email"
          >There is no email</small
        >
      </li>

      <li class="list-group-item">
        <span *ngIf="card.address"> {{ card.address }}</span>
        <small class="text-warning no-content" *ngIf="!card.address"
          >There is no address</small
        >
      </li>
      <!-- 
        Here adding conditionalhtml elements. This is a bit long way
        <li class="list-group-item" *ngIf="card.email; else noEmail">
        {{ card.email }}
      </li>
      <ng-template #noEmail>
        <small class="text-warning no-content">There is no email</small>
      </ng-template>

      <li class="list-group-item" *ngIf="card.address; else noAddress">
        {{ card.address }}
      </li>
      <ng-template #noAddress>
        <small class="text-warning no-content">There is no address</small>
      </ng-template> -->
    </ul>
  </mat-card-content>
</mat-card>
